.row { 
  margin-right: 0px;
}

.section{
  background: #283c86;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;

  }

  .input-group {
    padding: 5px;
    width: 103%;
    margin-left: -6px;
}
  
  .contenedorFormulario{
    margin-top: 126px;
  }

  .card{
    padding: 30px;
  }
  
  .content-center{
    text-align: center;
  }
  
  label {
    margin-top: 20px;
  }
  
  .btn-formulario{
    margin: auto;
    margin-top: 40px;
  }

  
.table{
  overflow: scroll;
  min-width: 1500px;
}

button.btn.btn-outline-primary {
  background: #6bd098;
  color: white;
}
  
.alerta-campos {
  font-size: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
td{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

td.contador {
  font-weight: bold;
}

a.pagosvuluntarios {
  position: fixed;
  left: 94%;
  top: 90%;
  z-index: 1;
}
