
<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <div class="logo-formulario">
                            <img  src="../../../assets/logo/logo_negro.png" width="30%"  alt="">
                        </div>
                        <div class="alerta-campos">
                            <span *ngIf="submitted && crearNoticia.invalid" class="badge badge-danger"> TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                        </div>
                        <form [formGroup]="crearNoticia" (ngSubmit)="agregarEditarNoticia()" class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Titulo</label>
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                        </div>
                                        <input formControlName ="titulo" type="text" class="form-control" placeholder="Titulo" (focus)="focus=true" (blur)="focus=false" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Imagen</label>
                                    <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                        </div>
                                        <input formControlName ="imagen" type="text" class="form-control" placeholder="imagen" (focus)="focus1=true" (blur)="focus1=false" >
                                    </div>
                                </div>
                            </div>
                            <label>Message</label>
                                <textarea formControlName ="descripcion" appearance="fill"  matInput #message maxlength="3000" class="form-control" type="text" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                                <mat-hint align="end">{{message.value.length}} / 3000</mat-hint>
                               <div class="row">
                            
                            <div class="btn-formulario">
                                     
                                  <button type="submit" class="btn btn-danger btn-lg btn-fill" >
                                      Agregar Reporte
                                      <div *ngIf="loading" class="spinner-border float" role="status">
                                        <span class="sr-only">Cargando ...</span>    
                                     </div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
