
<div class="main">
    <div class="section text-center">
      <div class="row">
    <div class="card" style="width: 60rem; margin: auto; margin-top: 90px; ">
        <div class="card-body">
          <!--<div class="title-brand title-center">
            <img src="../../../../assets/logo/logo_negro.png" width="18%" alt="">
          </div>-->

            <div class="alerta-campos">
                <span *ngIf="submitted && registroFrom.invalid" class="badge badge-danger"> TODOS LOS CAMPOS SON OBLIGATORIOS</span>
            </div>

        <form class="formulario" [formGroup]="fromEjes" (ngSubmit)="agregarEditarNoticia()">
                <div class="row">

                    <div class="col-md-8">
                        <label>Titulo</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="titulo" type="text" class="form-control" placeholder="Titulo"   >
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label>Message</label>
                        <textarea formControlName ="descripcion" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px"></textarea>
                    </div>

                </div> 
                <div class="row">        
                    <div class="btn-formulario">
                          <button type="submit" class="btn btn-primary btn-lg btn-fill" >
                              Agregar
                                <div *ngIf="loading" class="spinner-border float" role="status">
                                    <span class="sr-only">Cargando ...</span>    
                                </div>
                            </button>
                    </div>  
                </div>
        </form>
        </div>
    </div>
        </div>
  </div> 
</div>
