
<div class="main">
    <div class="section text-center">
      <div class="row">
    <div class="card" style="width: 60rem; margin: auto; margin-top: 90px; ">
        <div class="card-body">
          <div class="title-brand title-center">
            <img src="../../../../assets/logo/logo_negro.png" width="18%" alt="">
          </div>

            <div class="alerta-campos">
                <span *ngIf="submitted && registroFrom.invalid" class="badge badge-danger"> TODOS LOS CAMPOS SON OBLIGATORIOS</span>
            </div>

        <form class="formulario" [formGroup]="registroFrom" (ngSubmit)="agregarEditarNoticia()">
                <div class="row">

                    <div class="col-md-6">
                        <label>Nombres</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="nombres" type="text" class="form-control" placeholder="Nombres"   >
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Apellidos</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="apellidos" type="text" class="form-control" placeholder="Apellidos"  >
                        </div>
                    </div>

                    <div class="col-md-12">
                        <label>Ingre su correo</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="correo" type="text" class="form-control" placeholder="Ingrese su correo"   >
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Tipo de documento</label>
                                 <select formControlName ="tipodocumento" class="form-control" id="exampleFormControlSelect1">
                                    <option>CC</option>
                                    <option>TI</option>
                                    <option>CE</option>
                                    <option>NUIP</option>
                                </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Número de documento</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="numerodocumento" type="number" class="form-control" placeholder="Documento"  >
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Lugar de expedición</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="lugardeexpedicion" type="text" class="form-control" placeholder="Lugar de expedición"  >
                        </div>
                    </div>

                    <div class="col-md-5">
                        <label>Lugar de nacimiento</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="lugarnacimiento" type="text" class="form-control" placeholder="Lugar de nacimiento"   >
                        </div>
                    </div>

                    <div class="col-md-5">
                        <label>Fecha de nacimiento</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="fechanacimiento" type="date" class="form-control" placeholder="Ingrese fecha"  >
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Sexo</label>
                                 <select formControlName ="sexo" class="form-control" id="exampleFormControlSelect1">
                                    <option>Masculino</option>
                                    <option>Femenino</option>
                                </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Direccción</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="direccion" type="text" class="form-control" placeholder="Dirreción" >
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="exampleFormControlSelect1">Departamento</label>
                               <select formControlName ="departamento" class="form-control" id="exampleFormControlSelect1">
                                  <option>Amazonas</option>
                                  <option>Antioquia</option>
                                  <option>Arauca</option>
                                  <option>Atlántico</option>
                                  <option>Bogotá</option>
                                  <option>Bolívar</option>
                                  <option>Boyacá</option>
                                  <option>Caldas</option>
                                  <option>Caqueta</option>
                                  <option>Casanare</option>
                                  <option>Cauca</option>
                                  <option>Cesar</option>
                                  <option>Choco</option>
                                  <option>Cundinamarca</option>
                                  <option>Guainia</option>
                                  <option>Guiaviare</option>
                                  <option>Guajira</option>
                                  <option>Huila</option>
                                  <option>Magdanela</option>
                                  <option>Meta</option>
                                  <option>Norte De Santander</option>
                                  <option>Putumayo</option>
                                  <option>Quidío</option>
                                  <option>Risaraldas</option>
                                  <option>San Andres & Providencia</option>
                                  <option>Santander</option>
                                  <option>Sucre</option>
                                  <option>Tolima</option>
                                  <option>Valle Del Cauca</option>
                                  <option>Vaupés</option>
                                  <option>Vichada</option>
                              </select>
                      </div>
                  </div>

                    <div class="col-md-4">
                        <label>Ciudad</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="ciudad" type="text" class="form-control" placeholder="Ciudad"  >
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Numero telefonico</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="numerocelular" type="number" class="form-control" placeholder="Numero de telefono"   >
                        </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="exampleFormControlSelect1">Población</label>
                               <select formControlName ="poblacion" class="form-control" id="exampleFormControlSelect1">
                                  <option>Afro</option>
                                  <option>LGTBI</option>
                                  <option>Discapacidad</option>
                                  <option>Indigena</option>
                                  <option>Otro</option>
                              </select>
                      </div>
                  </div>

                    <div class="col-md-4">
                        <label>EPS</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="eps" type="text" class="form-control" placeholder="Ingrese su EPS"   >
                        </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="exampleFormControlSelect1">Régimen</label>
                               <select formControlName ="regimen" class="form-control" id="exampleFormControlSelect1">
                                  <option>Subsidiado</option>
                                  <option>Contributivo</option>
                                  <option>Otro</option>
                              </select>
                      </div>
                  </div>


                    <div class="col-md-4">
                        <label>¿Cual es su profesión?</label>
                        <div class="input-group" >
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                          </div>
                         <input formControlName ="profesion" type="text" class="form-control" placeholder="Ingrese su profesión" >
                        </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                          <label for="exampleFormControlSelect1">Voluntariado</label>
                               <select formControlName ="areavoluntaria" class="form-control" id="exampleFormControlSelect1">
                                  <option>Salud</option>
                                  <option>Belleza</option>
                                  <option>Recreación</option>
                                  <option>Proyectos Productivos</option>
                                  <option>Bienestar animal</option>
                                  <option>Logística</option>
                                  <option>Reforestación</option>
                                  <option>Infraestructura</option>
                                  <option>Otro</option>
                              </select>
                      </div>
                  </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">¿Tiene Pasaporte?</label>
                                 <select formControlName ="pasaporte" class="form-control" id="exampleFormControlSelect1">
                                    <option>SI</option>
                                    <option>NO</option>
                                </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">RH</label>
                                 <select formControlName ="rh" class="form-control" id="exampleFormControlSelect1">
                                    <option>A+</option>
                                    <option>A-</option>
                                    <option>B+</option>
                                    <option>B-</option>  
                                    <option>AB+</option>
                                    <option>AB-</option>
                                    <option>O+</option>
                                    <option>O-</option>
                                </select>
                        </div>
                    </div>
                  
                    <div class="col-md-12" style="margin-top: 12px;">
                      <h2  class="display-2 fw-bolder">NOTA</h2>
                         <p style="text-align: justify; font-size: 15px;" class="lead">
                          Por medio del envío  del presente formulario certifico que toda la información aquí contenida es  real, verídica y confiable; así mismo, acepto y autorizo el manejo, la administración y/o divulgación de esta a la FUNDACIÓN META VISIBLE ONG de acuerdo a la ley 1581 de 2012.
                          De igual manera acepto que de acuerdo a la ley 1819 del 2016, entiendo que los dineros o sus equivalentes a este referente serán tenidos en cuenta como DONACIÓN por cuanto se estipula que solo podrán ser usados para el ejercicio de la función sin animo de lucro y "NO SERÁN REEMBOLSABLES". 
                        </p>
                    </div>

                    <div class="col-md-12" style="margin-top: 12px;">
                      <h2  class="display-2 fw-bolder">OBSERVACIONES</h2>
                         <p style="text-align: justify; font-size: 15px;" class="lead">
                          Manifiesto NO poseer ninguna enfermedad de índole infecto contagiosa o catastrófica que pueda poner en riesgo la salud o la vida de alguien y que en caso contrario o de sospechar de llegar a adquirirla y estar en duda de poseerla me comprometo a hacerlo saber al personal directivo de la FUNDACIÓN META VISIBLE ONG con el fin de tomar medidas pertinentes y evitar su contagio ante las demás personas.
                        </p>
                    </div>

                    <div class="col-md-12" style="margin-top: 12px;">
                      <h2  class="display-2 fw-bolder">PARA TENER EN CUENTA</h2>
                         <p style="text-align: justify; font-size: 15px;" class="lead">
                          Como Voluntario FMV usted adquiere el compromiso de asistir por lo menos a 3 actividades durante el año  y a la reunión anual de Voluntarios; de NO cumplir con estos requisitos el formulario será cancelado.
                        </p>
                    </div>

                    <div class="col-md-12" style="margin-top: 12px;">
                      <h2  class="display-2 fw-bolder">PAGOS</h2>
                         <p style="text-align: justify; font-size: 15px;" class="lead">
                          El costo de la inscripción a la FMV  es de $200.000 el cual deberá ser consignado a través de la cuenta de ahorros Bancolombia # 84446618236 a nombre de la fundación META VISIBLE ONG
                        </p>
                    </div>

                    <div class="col-md-12" style="margin-top: 12px;">
                      <h2  class="display-2 fw-bolder">PLAZOS</h2>
                         <p style="text-align: justify; font-size: 15px;" class="lead">
                          Usted cuenta con 48 horas corrientes a partir de este momento para poder realizar el pago y activar el formulario, recuerde que debe enviar el comprobante al whatsapp 3054350666 y esperar la llamada para la entrevista.
                        </p>
                    </div>
    
                </div> 
                <div class="row">        
                    <div class="btn-formulario">
                          <button type="submit" class="btn btn-primary btn-lg btn-fill" >
                              Agregar Reporte
                                <div *ngIf="loading" class="spinner-border float" role="status">
                                    <span class="sr-only">Cargando ...</span>    
                                </div>
                            </button>
                    </div>  
                </div>
        </form>
        </div>
    </div>
        </div>
  </div> 
</div>
