<!DOCTYPE html>
<html lang="en">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="title-brand title-center">
                        <img src="../../../assets/logo/logo_ong.png" width="40%" alt="">
                    </div>
                </div>
                <h2 class="presentation-subtitle text-center"></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Se la mejor version  de ti mismo
            <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
            </a>
        </h6>
    </div>

    <div class="container">
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2>NUESTRA ONG</h2>
                </div>

                <br><br> <br>

                <ul class="timeline">
                    <li  *ngFor="let item of informacion">
                        <div class="timeline-image"><img class="logo-circulo"  src="../../../../assets/logo/logo_ong.png" alt="..." /></div>
                        <div class="timeline-panel">
                            <div class="iconos" *ngIf="user$ | async as user; else botones">
                                <a  [routerLink]="[ '/from-ong', item.id ]"> <img  class="editar" src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/40/000000/external-pencil-school-and-learning-flatart-icons-flat-flatarticons.png"/></a>
                                <a  (click)="preguntaEliminar(item.id)"> <img class="eliminar" src="https://img.icons8.com/bubbles/50/000000/delete.png"/></a>
                              </div>
                            <div class="timeline-heading">
                                <h4 class="subheading">{{item.titulo}}</h4>
                            </div>
                            <div class="form-floating">
                                <p class="descripcion-texto" id="floatingTextarea2" >{{item.descripcion}}</p>
                             </div>
                        </div>
                    </li> 
                </ul>

                <div class="btn-fromHome" *ngIf="user$ | async as user">    
                    <div class="ubicate-button">
                        <a class="btn-mas" href="/#/from-ong"> <button type="button" class="btn btn-success btn-round"><li class="nc-icon nc-simple-add"> </li></button></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</html>