<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    
                    <div class="title-brand title-center">
                        <img src="../../../assets/logo/logo_ong.png" width="40%" alt="">
                    </div>
                    <!-- <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>-->
                </div>
                <h2 class="presentation-subtitle text-center"></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Se la mejor version  de ti mismo
        <!-- <h6 class="category category-absolute">Designed and coded by -->
            <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
            </a>
        </h6>
    </div>


<!--SLIDER -->
<div class="contend-slider">
    <div class="section" id="carousel">
     <div class="container">
        <div class="row">
            <div class="col-md-3 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <a href="hola">
                            <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                            </a>
                            <div class="carousel-caption">
                                <p>NUESTRA ONG</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <a href="hola">
                            <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                            </a>
                            <div class="carousel-caption">
                                <p>NUESTRA ONG</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <a href="hola">
                            <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                            </a>
                            <div class="carousel-caption">
                                <p>NUESTRA ONG</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>

        <!-- OTRA COLUMNA -->
            <div class="col-md-3 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <a href="hola">
                            <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                            </a>
                            <div class="carousel-caption">
                                <p>EJES TRASNSVERSALES</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <a href="hola">
                            <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                            </a>
                            <div class="carousel-caption">
                                <p>EJES TRASNSVERSALES</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <a href="hola">
                            <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                            </a>
                            <div class="carousel-caption">
                                <p>EJES TRASNSVERSALES</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>

            <!-- OTRA COLUMNA -->
            <div class="col-md-3 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <a href="hola">
                            <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                            </a>
                            <div class="carousel-caption">
                                <p>ACTIVIDADES</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <a href="hola">
                            <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                            </a>
                            <div class="carousel-caption">
                                <p>ACTIVIDADES</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <a href="hola">
                            <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                            </a>
                            <div class="carousel-caption">
                                <p>ACTIVIDADES</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>

            <!-- OTRA COLUMNA -->
            <div class="col-md-3 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <a href="hola">
                            <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                            </a>
                            <div class="carousel-caption">
                                <p>BENEFICIOS</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <a href="hola">
                            <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                            </a>
                            <div class="carousel-caption">
                                <p>BENEFICIOS</p>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <a href="hola">
                            <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                            </a>
                            <div class="carousel-caption">
                                <p>BENEFICIOS</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--FIN DEL SLIDER-->


<!-- FORMATO NOTICIA -->
<div class="contend-formato">
 <div class="formato1">
    <div class="row">
       <div class="col-md-4 mr-auto ml-auto">
          <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
         <div class="img-details">
             <div class="author">
                 <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
             </div>
         </div>
       </div>
       <div  class="col-md-7 mr-auto ml-auto">
          <div class="titulo-noticia">
             <h1>Business Name or Tagline</h1>
          </div>
          <div class="contenido-text">
            <p style="text-align: justify;">This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                This is a template that is great for smssssall businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
          </div>
          <a class="btn btn-primary" href="#!">Call to Action!</a>
       </div>
     </div>
   </div>
</div> 
   <br><br><br>
   
     <!--OTRO FORMATO-->
     <div class="contend-formato">
        <div class="formato1">
           <div class="row">
              <div  class="col-md-7 mr-auto ml-auto">
                 <div class="titulo-noticia">
                    <h1>Business Name or Tagline</h1>
                 </div>
                 <div class="contenido-text">
                   <p style="text-align: justify;">This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                       This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                       This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                       This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                       This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                       This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                       This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                       This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!
                       This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                 </div>
                 <a class="btn btn-primary" href="#!">Call to Action!</a>
              </div>
              <div class="col-md-4 mr-auto ml-auto">
                <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
               <div class="img-details">
                   <div class="author">
                       <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                   </div>
               </div>
             </div>
            </div>
          </div>
       </div> 