.contend-slider{
    margin-top: 50px;
    }
    
    .contend-formato{
        margin: 20px;
        padding: 20px;
    }
    
   
    
    .contenido-text{
        margin-top: 10px;
    }

    .iconos {
        /* margin-left: auto; */
        text-align: end;
        margin-top: -48px;
    }

    img.editar {
        /* margin: 16px; */
        padding: 10px;
    }