.contend-slider{
    margin-top: 50px;
    }
    
    .contend-formato{
        margin: 20px;
        padding: 20px;
    }
    
    .titulo-noticia{
        margin-top: -30px;
    }
    
    .contenido-text{
        margin-top: 10px;
    }