.contend-slider{
    margin-top: 50px;
}

img.slider {
    object-fit: cover;
}
    
.contend-formato{
    margin: 20px;
    padding: 20px;
}

.iconos {
    text-align: end;
    margin-top: -48px;
}

img.editar {
     padding: 10px;
}

.btn-fromHome{
    position: fixed;
    left: 98%;
    top: 72%;
    z-index: 1;
}

button.btn.btn-success.btn-round {
    margin: 34px;
    margin-top: -24px;
    margin-left: -45px;
}


img.img-rounded.img-responsive {
    color: white;   
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.descripcion-texto{
  font-family: 'Poppins', sans-serif;
  text-align: justify; 
  white-space: pre-wrap;
  font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
h1{
	font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
  }
/*
textarea {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  font-size: 16px;
 outline: none;
  resize: none; 
}

textarea:is(:focus, :valid){
  border-color: rgb(111, 54, 245);
  border-width: 2px;
}

textarea::-webkit-scrollbar{
    width: 0px;
    height: auto;
}*/


/*  FIN DEL CONTENIDO */
