@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

textarea {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  font-size: 16px;
  outline: none;
  resize: none;
}

textarea:is(:focus, :valid){
  border-color: #6bd098;
  border-width: 2px;
}

textarea::-webkit-scrollbar{
    width: 0px;
    height: auto;
}

form {
  margin-top: 50px;
}

.btn-formulario{
    text-align: center;
  }
    
  
  .page-header{
    min-height: 150vh;
  }
  
  .logo-formulario {
    text-align: center;
  }
  
  .section.landing-section {
    border-radius: 20px;
    margin-top: -50px;
  }
  
  .col-md-9.mr-auto.ml-auto {
    margin-top: -50px;
} 




  