<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">

    
    <div class="container">
        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 mr-auto ml-auto">
                      <div class="logo-formulario">
                            <img  src="https://firebasestorage.googleapis.com/v0/b/webong-3ccda.appspot.com/o/Logo%2Flogo_negro.png?alt=media&token=5b0e58ea-3f99-4342-ba36-13e237382c61" width="20%"  alt="">
                        </div> 
                        <div class="alerta-campos">
                            <span *ngIf="submitted && crearNoticia.invalid" class="badge badge-danger"> TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                        </div>
                        <form [formGroup]="crearNoticia" (ngSubmit)="agregarEditarNoticia()" class="contact-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Titulo</label>
                                    <div class="input-group" >
                                        <div class="input-group-prepend">
                                          <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                        </div>
                                        <input formControlName ="titulo" type="text" class="form-control" placeholder="Titulo" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Imagen</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">  <i class="nc-icon nc-album-2"></i></span>
                                          <div *ngIf="loading" class="spinner-border float" role="status">
                                            <span class="sr-only">Cargando ...</span>    
                                         </div>
                                        </div>
                                            <input  type="file" (change)="uploadFile($event)" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>Video</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                          <span class="input-group-text">  <i class="nc-icon nc-button-play"></i></span>
                                        </div>
                                        <input formControlName ="video" type="text" class="form-control" placeholder="Agregre el link de Youtube">
                                    </div>
                                </div>
                            </div>

                            <label>Message</label>
                                <textarea formControlName ="descripcion" appearance="fill"  matInput #message maxlength="3000" class="form-control" type="text" placeholder="Agrega una descripción" id="my-text" required></textarea>
                                <mat-hint align="end">{{message.value.length}} / 3000</mat-hint>
                               <div class="row">
  
                            <div class="btn-formulario">
                                  <button type="submit" class="btn btn-danger btn-lg btn-fill" >
                                      Agregar Reporte
                                      <div *ngIf="loading" class="spinner-border float" role="status">
                                        <span class="sr-only">Cargando ...</span>    
                                     </div>
                                    </button>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


