
.btn-formulario{
  text-align: center;
}
  

.page-header{
  min-height: 150vh;
}

.logo-formulario {
  text-align: center;
}

.section.landing-section {
  border-radius: 20px;
  margin-top: -30px;
}



