<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://www.creative-tim.com">Fundación Meta Visible Ong</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                 <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/metavisible" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li> 
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/metavisible" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/metavisibleong/?hl=es-la" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li>
                <li class="nav-item">    
                    <a href="/#/home" class="nav-link"><i></i>Inicio</a>
                </li>
                <li class="nav-item">    
                    <a href="/#/services" class="nav-link"><i class=""></i>Servicios</a>
                </li>
                <li class="nav-item">    
                    <a href="/#/about-us" class="nav-link"><i></i>Sobre Nosotros</a>
                </li>
                
              <!-- <li class="nav-item">    
                    <a href="/" class="nav-link"><i class=""></i>Contactanos</a>
                </li> -->
                <a class="btn-mas" href="/#/from-volunteers"> <button type="button" class="btn btn-success btn-round"><li class="nc-icon nc-simple-add"> </li> Quiero ser parte</button></a>    
              <div *ngIf="user$ | async as user">
                  <li class="nav-item" *ngIf="user">
                      <div ngbDropdown  >
                          <a class="nav-link" style="color: #6d6b6a;" class="nav-link nc-icon nc-single-02"  ngbDropdownToggle> Admin</a>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                              <a class="dropdown-item">{{user?.email}}</a>
                              <a class="dropdown-item">Another Action</a>
                              <a class="dropdown-item"(click)="refresh()" (click)="onLogout()">Salir</a>
                          </div>
                      </div>
                  </li>
              </div> 
            </ul>
        </div> 
    </div>
</nav>