<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <div class="title-brand title-center">
                <img src="../../../assets/logo/logo_ong.png" width="40%" alt="">
            </div>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Ver Video</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">MISIÓN</h2>
                <h5 class="description" style="text-align: justify;">
                    La FUNDACIÓN META VISIBLE ONG consolidada como red de apoyo social más grande de Colombia propende ejecutar planes de desarrollo locales y regionales incluyentes que beneficien poblaciones de difícil acceso a la salud y con problemas de comunicación con ejes transversales de ayuda como lo son: SALUD, BELLEZA, RECREACIÓN, PROYECTOS PRODUCTIVOS, BIENESTAR ANIMAL Y REFORESTACIÓN E INFRAESTRUCTURA brindando herramientas reales a los mas necesitados.
                </h5>
                <br>
               <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-ambulance"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Beautiful Gallery</h4>
                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">New Ideas</h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Statistics</h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br/><br/> 
    <hr>
    <br/><br/> 

    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">VISIÓN</h2>
                <h5 class="description" style="text-align: justify;">
                    Para el 2025 la organización de la FUNDACIÓN META VISIBLE ONG y su misión humanitaria internacional, será reconocida en latinoamerica por su compromiso social con el desarrollo de las causas misionales de participación, brindando soluciones en los ámbitos de la ASISTENCIA HUMANITARIA. EL DESARROLLO, LA PAZ Y LA SEGURIDAD.
                </h5>
                <br>
               <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-ambulance"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Beautiful Gallery</h4>
                        <p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">New Ideas</h4>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Statistics</h4>
                        <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-sun-fog-29"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Delightful design</h4>
                        <p>Find unique and handmade delightful designs related items directly from our sellers.</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<br/><br/> 
<hr>
<br/> <br/> 

<div class="contend-formato">
    <div class="formato1">
       <div class="row">
          <div  class="col-md-7 mr-auto ml-auto">


             <div class="titulo-noticia">
                <h1>¿Por qué nosotros?</h1>
             </div>
             <div class="contenido-text">
               <p style="text-align: justify;">Porque somos la red de apoyo social más grande de Colombia con siete ejes transversales de apoyo a las comunidades mas necesitadas.</p>
             </div>


             <div class="subtitulo-noticia">
                <h1>¿Quiénes somos?</h1>
             </div>
             <div class="contenido-text">
               <p style="text-align: justify;">Nacemos en el año 2015 en la ciudad de Villavicencio y actualmente hacemos presencia en 17 departamentos cubriendo el 70% del territorio nacional y tenemos presencia en PERÚ. PANAMÁ y BRASIL. <br>
                A la fecha contamos con mas de 52.000 personas que se han visto beneficiadas con nuestras actividades.          Somos una entidad sin animo de lucro con alta vocación de servicio social, que trabaja a favor de las personas que han sido victimas del conflicto armado y la población vulnerable de Colombia, Hay un énfasis en el acompañamiento para la reparación, la integración, la reinserción y la inclusión social; Apostándole a los procesos primordiales de apoyo psicosocial argumentados en forma de promoción, prevención y atención así como los métodos básicos educativos de primer principio de superación personal, que busca crear proyectos de fortalecimiento y/o emprendimiento de pequeñas y medianas empresas con el deseo de mejorar la calidad de vida en dicha población.
                Cabe destacar que es un trabajo social voluntario, y todas las personas que
                acompañan las actividades, donan su tiempo, su vocación y su conocimiento para ayudar a los mas necesitados.</p>
             </div>
             

             <div class="subtitulo-noticia">
                <h1>¿Qué buscamos?</h1>
             </div>
             <div class="contenido-text">
               <p style="text-align: justify;">
               <li>La excelencia y el reconocimiento como una ONG constructiva aliada del desarrollo con estandares de calidad en la asistencia a las poblaciones más vulnerables.</li> <br>
               <li>  El poder llegar a sitios tan lejanos y olvidados dentro del territoeio nacional con problemas de comunicación y de dificil acceso a la salud.</li> <br>
               <li> Estructurar herramientas de apoyo para la generación de microestructuras empresariales que permitan el sosteniemiento de nucleos familiares que propendan en la eliminación de la pobreza extrema. </li></p>
             </div>


             <div class="subtitulo-noticia">
                <h1>¿Cómo nos identificamos?</h1>
             </div>
             <div class="contenido-text">
               <p style="text-align: justify;">Nos caracterizamos por hacer las cosas de corazón y no por una mención, somos una organizacion con 458 voluntarios que entregan lo mejor de sí para el bienestar de los que mas nos necesitan. 
                Un grupo de profesionales interdisciplinarios comprometidos con la asistencia de razones humanitarias envueltas en la satisfaccion de poder auydar sin ninguna remuneración.</p>
             </div>

          </div>
          <div class="col-md-4 mr-auto ml-auto">
            <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
         </div>
        </div>
      </div>
   </div> 

   <br><br><br>


<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Nuestro equipo de trabajo</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Henry Ford</h4>
                                <h6 class="card-category">Product Manager</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sophie West</h4>
                                <h6 class="card-category">Designer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                                <h6 class="card-category">Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Comunicate con nostros</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
