<!doctype html>
<html lang="en">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    
                    <div class="title-brand title-center">
                        <img src="../../../assets/logo/logo_ong.png" width="40%" alt="">
                    </div>
                    <!-- <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>-->
                </div>
                <h2 class="presentation-subtitle text-center"></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Se la mejor version  de ti mismo
        <!-- <h6 class="category category-absolute">Designed and coded by -->
            <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
            </a>
        </h6>
    </div>
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Actividades meta visible</title>
  </head>
  <br>
 <body>
 
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>¿Por qué nosotros?</h2>
        <p>Porque somos la red de apoyo social más grande de Colombia con siete ejes transversales de apoyo a las comunidades mas necesitadas</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Misión</h4>
              <h5>2015 - 2016</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>La FUNDACIÓN META VISIBLE ONG consolidada como red de apoyo social más grande de Colombia propende ejecutar planes de desarrollo locales y regionales incluyentes que beneficien poblaciones de difícil acceso a la salud y con problemas de comunicación con ejes transversales de ayuda como lo son: SALUD, BELLEZA, RECREACIÓN, PROYECTOS PRODUCTIVOS, BIENESTAR ANIMAL Y REFORESTACIÓN E INFRAESTRUCTURA brindando herramientas reales a los mas necesitados.</p>
            </div>
            <div class="resume-item">
              <h4>Visión</h4>
              <h5>2010 - 2014</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>Para el 2025 la organización de la FUNDACIÓN META VISIBLE ONG y su misión humanitaria internacional, será reconocida en latinoamerica por su compromiso social con el desarrollo de las causas misionales de participación, brindando soluciones en los ámbitos de la ASISTENCIA HUMANITARIA. EL DESARROLLO, LA PAZ Y LA SEGURIDAD.

            </p>
            </div>
          
          
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item">
                <h4>¿Cómo nos identificamos?</h4>
                <h5>2010 - 2014</h5>
                <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
                <p>Nos caracterizamos por hacer las cosas de corazón y no por una mención, somos una organizacion con 458 voluntarios que entregan lo mejor de sí para el bienestar de los que mas nos necesitan. 
                    Un grupo de profesionales interdisciplinarios comprometidos con la asistencia de razones humanitarias envueltas en la satisfaccion de poder auydar sin ninguna remuneración.
  
              </p>
              </div>

            </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>¿Quiénes somos?</h4>
            <h5>2010 - 2014</h5>
            <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
            <p>Nacemos en el año 2015 en la ciudad de Villavicencio y actualmente hacemos presencia en 17 departamentos cubriendo el 70% del territorio nacional y tenemos presencia en PERÚ. PANAMÁ y BRASIL.
                A la fecha contamos con mas de 52.000 personas que se han visto beneficiadas con nuestras actividades.
                Somos una entidad sin animo de lucro con alta vocación de servicio social, que trabaja a favor de las personas que han sido victimas del conflicto armado y la población vulnerable de Colombia, Hay un énfasis en el acompañamiento para la reparación, la integración, la reinserción y la inclusión social; Apostándole a los procesos primordiales de apoyo psicosocial argumentados en forma de promoción, prevención y atención así como los métodos básicos educativos de primer principio de superación personal, que busca crear proyectos de fortalecimiento y/o emprendimiento de pequeñas y medianas empresas con el deseo de mejorar la calidad de vida en dicha población.
                Cabe destacar que es un trabajo social voluntario, y todas las personas que
                acompañan las actividades, donan su tiempo, su vocación y su conocimiento para ayudar a los mas necesitados.

          </p>
          </div>
          <div class="resume-item">
            <h4>¿Qué buscamos?</h4>
            <h5>2017 - 2018</h5>
            <p><em>Stepping Stone Advertising, New York, NY</em></p>
            <ul>
              <li>La excelencia y el reconocimiento como una ONG constructiva aliada del desarrollo con estandares de calidad en la asistencia a las poblaciones más vulnerables.</li>
              <li>El poder llegar a sitios tan lejanos y olvidados dentro del territoeio nacional con problemas de comunicación y de dificil acceso a la salud.</li>
              <li>Estructurar herramientas de apoyo para la generación de microestructuras empresariales que permitan el sosteniemiento de nucleos familiares que propendan en la eliminación de la pobreza extrema.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>

  <div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Nuestro equipo de trabajo</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Henry Ford</h4>
                                <h6 class="card-category">Product Manager</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Sophie West</h4>
                                <h6 class="card-category">Designer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Robert Orben</h4>
                                <h6 class="card-category">Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="text-center">Comunicate con nostros</h2>


                <form  [formGroup]="formAbout" (ngSubmit)="agregarComentario()" class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nombre</label>
                            <div class="input-group" >
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                </div>
                                <input formControlName ="nombre" type="text" class="form-control" placeholder="nombre">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Correo</label>
                            <div class="input-group" >
                                <div class="input-group-prepend">
                                  <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                </div>
                                <input formControlName ="correo" type="text" class="form-control" placeholder="Correo">
                            </div>
                        </div>
                    </div>
                    <label>Comentario</label>
                    <textarea   formControlName ="descripcion" class="form-control" rows="4"  #message maxlength="300" placeholder="Evíanos un mensaje..."></textarea>
                    <mat-hint align="end">{{message.value.length}} / 300</mat-hint>
                    <div class="row">
                        <div class="col-md-4 mr-auto ml-auto">
                            <!--[disabled]="formAbout.invalid"-->
                            <button  type="submit" class="btn btn-danger btn-lg btn-fill">Envíar
                                <div *ngIf="loading" class="spinner-border float" role="status">
                                    <span class="sr-only">Cargando ...</span>    
                                 </div>
                            </button>
                        </div>
                    </div>
                </form>


                <div class="btn-fromHome" *ngIf="user$ | async as user; else home">    
                    <a class="btn-mas" href="/#/table-about"> <button type="button" class="btn btn-success btn-round"><li class="nc-icon nc-bullet-list-67"> </li></button></a>
                  
                </div>
               
                <ng-template #home>
                    <a  *ngIf="user" class="btn-mas" href="/#/table-about"> <button type="button" class="btn btn-success btn-round"><li class="nc-icon nc-bullet-list-67"> </li></button></a>
                </ng-template>
            


            </div>
        </div>
    </div>
</div>

</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    
  
</html>

