
<div class="main">
    <div class="section text-center">
      <div class="row" >

        <!--METODO DE PAGO PAYPAL-->

        <div  class="col-md-4">
          <div class="card"  style="width: 18rem; margin-top: 100px; height: 80%;">
            <img src="https://img.icons8.com/color/100/000000/paypal.png"/>
            <div class="card-body">
              <div class="col-md-12" style="margin-top: 12px;">
                <h2  class="display-2 fw-bolder">Donar sin limites</h2>
                   <p style="text-align: justify; font-size: 15px;" class="lead">
                  </p>ed cuenta con 48 horas corrientes a partir de este momento para poder realizar el pago y activar el formulario.
              </div>
              
                <div class="Paypal">
                  <a href="https://www.paypal.com/donate?hosted_button_id=88FKJ9P969PPS">
                    <button  type="button" class="btn btn-outline-primary">Donar</button> 
                  </a>
                </div>
            
            </div>
          </div>
        </div>

         <!--METODO DE PAGO BANCOLOMBIA-->

        <div  class="col-md-4">
          <div class="card"  style="width: 18rem; margin-top: 100px; height: 80%;">
            <div *ngIf="nofunciona" class="alerta-campos"><span _ngcontent-bpv-c201="" class="badge badge-danger">Fuera de servicio</span>
            </div>
            <img style="width: 60%; margin-top: 60px;" src="../../../assets/payments/logo-bancolombia+(1).png"/>
            <div class="card-body">
              <div class="col-md-12" style="margin-top: 12px;">
                <h2  class="display-2 fw-bolder" style="margin-top: 32px;" >Dona sin limites</h2>
                   <p  class="lead">
                    <img class="qrBancolombia" src="../../../assets/qrs/bancolombia_wompi.PNG" alt="">
                  </p>
              </div>
             
                <button (click)="fueraDeSerrvicio()" type="button" class="btn btn-outline-primary">Donar</button> 
          
            </div>
          </div>
        </div>

        <!--METODO DE PAGO NEQUI-->

        <div  class="col-md-4">
          <div class="card"  style="width: 18rem; margin-top: 100px; height: 80%;">
            <img style="width: 40%; " src="../../../assets/payments/nequi.png"/>
            <div class="card-body">
              <div class="col-md-12" style="margin-top: 12px;">
                <h2  class="display-2 fw-bolder">Donar sin limites</h2>
                <p class="lead">
                  <img class="qrNequi" src="../../../assets/qrs/Nequi.PNG" alt="">
                </p>
              </div>
            <!--  <a href="">
                <button type="button" class="btn btn-outline-primary">Donar</button> 
              </a> -->
            </div>
          </div>
        </div>




 





     
        </div>
   </div> 
</div>


