<!DOCTYPE html>
<html lang="en">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    
                    <div class="title-brand title-center">
                        <img src="../../../assets/logo/logo_ong.png" width="40%" alt="">
                    </div>
                    <!-- <div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div>-->
                </div>
                <h2 class="presentation-subtitle text-center"></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Se la mejor version  de ti mismo
        <!-- <h6 class="category category-absolute">Designed and coded by -->
            <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
            </a>
        </h6>
    </div>

<head>
    <meta charset="UTF-8">
    <title>Card con efecto hover - Magtimus</title>
    <link rel="stylesheet" href="">
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<h1 class="title">EJES TRANSVERSALES</h1>


    <br>
    <br>
    
    
    <div class="container">
       
        <div class="card">
            <img src="https://scontent.fvvc1-1.fna.fbcdn.net/v/t1.6435-9/211153298_5791377744237095_2074241002500806459_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=9267fe&_nc_ohc=ZlkZUOomOrMAX9L1hHr&_nc_ht=scontent.fvvc1-1.fna&oh=eb41b07a501698ae9c3111a16700cb1f&oe=6159008D">
            <h3>SALUD</h3>
            <br>
            <p>El GRUPO ELITE DE BELLEZA es un instituto comprometido en 
                ofrecer los servicios de educación con la más alta calidad, aportando
                a nuestros alumnos los conocimientos necesarios basados...</p>
            
                <input type="checkbox" id="btn-modal">
                <label for="btn-modal" class="lbl-modal">Leer más</label>
                    <div class="modal">
                        <div class="contenedor">
                            <header>SALUD</header>
                            <label for="btn-modal">X</label>
                        <div class="contenido">
                            <h3><!-- Agregar un titulo --></h3>
                            <p>El GRUPO ELITE DE BELLEZA es un instituto comprometido en 
                                ofrecer los servicios de educación con la más alta calidad, aportando
                                 a nuestros alumnos los conocimientos necesarios basados desde la experiencia, 
                                 para que desarrollen al máximo todas sus habilidades y lograr mujeres económicamente independientes.</p>
                        </div>
                        </div>
                    </div>
            
        </div>
      
        
        
        <div class="card">
            <img src="https://scontent.fvvc1-1.fna.fbcdn.net/v/t1.6435-9/211153298_5791377744237095_2074241002500806459_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=9267fe&_nc_ohc=ZlkZUOomOrMAX9L1hHr&_nc_ht=scontent.fvvc1-1.fna&oh=eb41b07a501698ae9c3111a16700cb1f&oe=6159008D">
            <h3>BELLEZA</h3>
            <br>
            <p>LA CORPORACIÓN PARA LA CAPACITACIÓN DE SALUD INTEGRAL "CASAI", es una institución de formación para el trabajo y desarrollo humano, que forma en ciencias de salud, 
                ...</p>
            
                <input type="checkbox" id="btn-modal2">
                <label for="btn-modal2" class="lbl-modal2">Leer más</label>
                    <div class="modal2">
                        <div class="contenedor2">
                            <header>BELLEZA</header>
                            <label for="btn-modal2">X</label>
                            
                            <div class="contenido2">
                            <h3><!-- Agregar un titulo --></h3>
                            <p> LA CORPORACIÓN PARA LA CAPACITACIÓN DE SALUD INTEGRAL "CASAI", es una institución de formación para el trabajo y desarrollo humano, que forma en ciencias de salud, 
                                con un alto sentido ético, humano y pedagógico, capaces de orientar, asistir y participar en el cuidado integral del paciente y su familia. 
                                Desarrollando prácticas que promueva la salud y prevenga la enfermedad en el área comunitaria, clínica y empresarial; 
                                actuando con éxito en el campo laboral de la salud, a través de un equipo humano profesional comprometido y competente.</p>
                        </div>
                    
                        </div>
                    </div>
        </div>

        
        <div class="card">
            <img src="https://scontent.fvvc1-1.fna.fbcdn.net/v/t1.6435-9/211153298_5791377744237095_2074241002500806459_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=9267fe&_nc_ohc=ZlkZUOomOrMAX9L1hHr&_nc_ht=scontent.fvvc1-1.fna&oh=eb41b07a501698ae9c3111a16700cb1f&oe=6159008D">
            <h3>RECREACIÓN</h3>
            <br>
            <p>En la FUNDACIÓN TERESITA CORAZÓN creemos en una segunda oportunidad, somos una fundación sin ánimo de lucro, 
                orientada  a brindar asistencia psicosocial a los niños con afecciones...</p>
            
                <input type="checkbox" id="btn-modal3">
                <label for="btn-modal3" class="lbl-modal3">Leer más</label>
                    <div class="modal3">
                        <div class="contenedor3">
                            <header>RECREACIÓN</header>
                            <label for="btn-modal3">X</label>
                        <div class="contenido3">
                            <h3><!-- Agregar un titulo --></h3>
                            <p>En la FUNDACIÓN TERESITA CORAZÓN creemos en una segunda oportunidad, somos una fundación sin ánimo de lucro, 
                                orientada  a brindar asistencia psicosocial a los niños con afecciones cardiacas. Además brindará cuidados con programas 
                                de salud a través de la alianza con la organización CORAZÓN COLOMBIA y la FUNDACIÓN SHAIO; 
                                dirigidos a familias vulnerables de sectores deprimidos y que tengan niños entre 1 a 18 años con problemas cardiovasculares, 
                                del ámbito Nacional e Internacional.
                                Operamos y damos vida a los sueños!.</p>
                        </div>
                        </div>
                    </div>
        </div>

        
        <div class="card">
            <img src="https://scontent.fvvc1-1.fna.fbcdn.net/v/t1.6435-9/211153298_5791377744237095_2074241002500806459_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=9267fe&_nc_ohc=ZlkZUOomOrMAX9L1hHr&_nc_ht=scontent.fvvc1-1.fna&oh=eb41b07a501698ae9c3111a16700cb1f&oe=6159008D">
            <h3>PROYECTOS PRODUCTIVOS</h3>
            <br>
            <p>La FUNDACIÓN PENDULO es una fundación activa en la sociedad promoviendo 
                los valores culturales, democráticos y sociales de la población LGBT...</p>
                
                <input type="checkbox" id="btn-modal4">
                <label for="btn-modal4" class="lbl-modal4">Leer más</label>
                    <div class="modal4">
                        <div class="contenedor4">
                            <header>PROYECTOS PRODUCTIVOS</header>
                            <label for="btn-modal4">X</label>
                        <div class="contenido4">
                            <h3><!-- Agregar un titulo --></h3>
                            <p>La FUNDACIÓN PENDULO es una fundación activa en la sociedad promoviendo 
                                los valores culturales, democráticos y sociales de la población LGBT, y 
                                que promueve una sociedad en la que las personas vivan con libertad su orientación
                                sexual e identidad de género.</p>
                        </div>
                        </div>
                    </div>
        </div>
        
        <div class="card">
            <img src="https://scontent.fvvc1-1.fna.fbcdn.net/v/t1.6435-9/211153298_5791377744237095_2074241002500806459_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=9267fe&_nc_ohc=ZlkZUOomOrMAX9L1hHr&_nc_ht=scontent.fvvc1-1.fna&oh=eb41b07a501698ae9c3111a16700cb1f&oe=6159008D">
            <h3>BIENESTAR ANIMAL</h3>
            <br>
            <p>La FUNDACION TODOS APORTAMOS busca mejorar la calidad de vida y el bienestar
                social a través de proyectos de promoción e iniciativas que respondan a los
                retos e inquietudes</p>
            
                <input type="checkbox" id="btn-modal5">
                <label for="btn-modal5" class="lbl-modal5">Leer más</label>
                    <div class="modal5">
                        <div class="contenedor5">
                            <header>BIENESTAR ANIMAL</header>
                            <label for="btn-modal5">X</label>
                        <div class="contenido5">
                            <h3><!-- Agregar un titulo --></h3>
                            <p>La FUNDACION TODOS APORTAMOS busca mejorar la calidad de vida y el bienestar
                                 social a través de proyectos de promoción e iniciativas  que respondan a los
                                  retos e inquietudes que la sociedad actualmente demanda.</p>
                        </div>
                        </div>
                    </div>
        </div>
    
    <div class="card">
        <img src="https://scontent.fvvc1-1.fna.fbcdn.net/v/t1.6435-9/211153298_5791377744237095_2074241002500806459_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=9267fe&_nc_ohc=ZlkZUOomOrMAX9L1hHr&_nc_ht=scontent.fvvc1-1.fna&oh=eb41b07a501698ae9c3111a16700cb1f&oe=6159008D">
        <h3>REFORESTACIÓN</h3>
        <br>
        <p>La Comercializadora CJHR S.A.S. tiene por objeto principal efectuar
            operaciones de comercio exterior, también orienta sus actividades 
            hacia la promoción y comercialización de productos</p>
        
            <input type="checkbox" id="btn-modal6">
                <label for="btn-modal6" class="lbl-modal6">Leer más</label>
                    <div class="modal6">
                        <div class="contenedor6">
                            <header>REFORESTACIÓN</header>
                            <label for="btn-modal6">X</label>
                        <div class="contenido6">
                            <h3><!-- Agregar un titulo --></h3>
                            <p>La Comercializadora CJHR S.A.S. tiene por objeto principal efectuar
                                 operaciones de comercio exterior, también orienta sus actividades 
                                 hacia la promoción y comercialización de productos nacionales en el mercado
                                  internacional. Dentro de su objeto se incluye las importaciones de bienes e 
                                  insumos para abastecer el mercado interno, o para transformarlos y exportarlos.
                                   (Ley 67 de 1979, reglamentada por el Dto. 1740 de 1994).</p>
                        </div>
                        </div>
                    </div>
    </div>
    
    <div class="card">
        <img src="https://scontent.fvvc1-1.fna.fbcdn.net/v/t1.6435-9/211153298_5791377744237095_2074241002500806459_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=9267fe&_nc_ohc=ZlkZUOomOrMAX9L1hHr&_nc_ht=scontent.fvvc1-1.fna&oh=eb41b07a501698ae9c3111a16700cb1f&oe=6159008D">
        <h3>INFRAESTRUCTURA</h3>
        <br>
        <p>La FUNDACIÓN NOAH-H tiene como objeto ayudar a la Transformación de vidas de las personas mas necesitadas,
            desde todas las dimensiones del ser; con un enfoque inclusivo...</p>
        
            <input type="checkbox" id="btn-modal7">
                <label for="btn-modal7" class="lbl-modal7">Leer más</label>
                    <div class="modal7">
                        <div class="contenedor7">
                            <header>INFRAESTRUCTURA</header>
                            <label for="btn-modal7">X</label>
                        <div class="contenido7">
                            <h3><!-- Agregar un titulo --></h3>
                            <p>La FUNDACIÓN NOAH-H tiene como objeto ayudar a la transformación de vidas de las personas mas necesitadas,
                                desde todas las dimensiones del ser; con un enfoque inclusivo y orientado por un
                                equipo interdisciplinario con alta idoneidad, con una visión saludable, educativa,
                                social y ambiental de impacto intersectorial. Buscando la protección integral y
                                fomentando la corresponsabilidad de las familias como núcleo fundamental, la 
                                escuela como entorno protector y del contexto como comunidad afectiva y
                                formadora. Y de la mano de la responsabilidad social de las personas naturales,
                                empresas y alianzas público privadas.</p>
                        </div>
                        </div>
                    </div>
    </div>


    </div>





</html>