<div class="page-header" data-parallax="true" style="background-image: url('../../../assets/img/daniel-olahs.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <div class="title-brand title-center">
                <img src="../../../assets/logo/logo_ong.png" width="40%" alt="">
            </div>
            <br />
           <!----> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Ver Video</a>
        </div>
    </div>
</div>

<div class="main">
    <div class="contend-formato">
     <div class="formato1">
        <div class="row">
            <div class="col-md-4 mr-auto ml-auto">
                <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
             </div>
           <div  class="col-md-7 mr-auto ml-auto">
              <div class="titulo-noticia">
                 <h1>¿Que ofrecemos?</h1>
              </div>
              <div class="contenido-text">
                <p style="text-align: justify;">Reemplaza este teto con información sobre ti y tu negocio, o bien agrega información que pueda ser útil para tus clientes.</p>
              </div>
           </div>
         </div>
       </div>

    <div class="formato2">
       <div class="row">
          <div  class="col-md-7 mr-auto ml-auto">
             <div class="titulo-noticia">
                <h1>¿Por qué nosotros?</h1>
             </div>
             <div class="contenido-text">
               <p style="text-align: justify;">Porque somos la red de apoyo social más grande de Colombia con siete ejes transversales de apoyo a las comunidades mas necesitadas.</p>
             </div>
          </div>
          <div class="col-md-4 mr-auto ml-auto">
            <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
         </div>
        </div>
      </div>
   </div> 
</div>
