<!doctype html>
<html lang="en">
    <div class="page-header section-dark" style="background-image: url('https://fondosmil.com/fondo/17010.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    
                    <div class="title-brand title-center">
                        <img src="../../../assets/logo/logo_ong.png" width="40%" alt="">
                    </div>
                 
                </div>
                <h2 class="presentation-subtitle text-center"></h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">Se la mejor version  de ti mismo
        <!-- <h6 class="category category-absolute">Designed and coded by -->
            <a href="https://www.creative-tim.com" target="_blank">
                <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
            </a>
        </h6>
    </div>
    <br>

 <body>
 
  <section id="resume" class="resume">
    <div  class="container">

      <div *ngFor="let item of informacion; index as i">
        <div *ngIf="i === 0" class="section-title">
      
          <div class="iconos" *ngIf="user$ | async as user; else botones">
            <a  [routerLink]="[ '/from-actividades', item.id ]"> <img  class="editar" src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/40/000000/external-pencil-school-and-learning-flatart-icons-flat-flatarticons.png"/></a>
          <!--  <a  (click)="preguntaEliminar(item.id)"> <img class="eliminar" src="https://img.icons8.com/bubbles/50/000000/delete.png"/></a>  -->
          </div>

          <h2>{{item.titulo}}</h2>
          <div style="text-align: justify;" class="form-floating">
            <textarea  class="form-control sinColor" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" disabled>{{item.descripcion}}</textarea>
         </div>
        </div>
      </div>
      

      <div  class="row">
        <div class="col-lg-6 espacio" data-aos="fade-up">
          <div *ngFor="let item of informacion; index as i">
            <div *ngIf="i > 0" class="resume-item">
              <div class="iconos" *ngIf="user$ | async as user; else botones">
                <a  [routerLink]="[ '/from-actividades', item.id ]"> <img  class="editar" src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/40/000000/external-pencil-school-and-learning-flatart-icons-flat-flatarticons.png"/></a>
                <a  (click)="preguntaEliminar(item.id)"> <img class="eliminar" src="https://img.icons8.com/bubbles/50/000000/delete.png"/></a>  
             </div>
              <h4>{{item.titulo}}</h4>
              <div style="text-align: justify;" class="form-floating">
                <textarea  class="form-control sinColor" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 350px" disabled>{{item.descripcion}}</textarea>
             </div>
            </div>
          </div>        
        </div>

        <div class="btn-fromHome" *ngIf="user$ | async as user; else home">    
          <div class="ubicate-button">
            <a class="btn-mas" href="/#/from-actividades"> <button type="button" class="btn btn-success btn-round"><li class="nc-icon nc-simple-add"> </li></button></a>
          </div>
        </div>



      
      </div>
    

    </div>
  </section>

</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    
  
</html>

